<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @physician.name %>
</p>

<p>
  <b>Email:</b>
  <%= @physician.email %>
</p>
<p>
  <b>ID:</b>
  <%= @physician.unique_id %>
</p>
<p>Patients<p>
<% @physician.patients.each do |a|%>
    <%= a.name %>:
    <%= a.email%>
    </br>
<%end%>

<%= link_to 'Back', physicians_path,class:"btn btn-sm btn-outline-success"%>