<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>
<p>Physicians<p>
<% @patient.physicians.each do |a|%>
    <%= a.name %>:
    <%= a.email%>
    </br>
<%end%>

<%= link_to 'Back', patients_path,class:"btn btn-sm btn-outline-success"%>
